<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row">
    <div class="large-12 large-text-center columns">
        <div class="panel">
            <p>高性能Web构建及前沿技术探究.</p>
            <p>
                <a class="button radius" target="_blank" ng-href="https://github.com/starzou/dom-edge">Fork Me OnGitHub!</a>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-4 columns" ng-repeat="thing in things">
        <div class="th">
            <div class="caption">
                <h3>{{thing.title}}</h3>

                <p ng-repeat="page in thing.pages">
                    <a ng-href="{{thing.basePath + page.url}}">{{page.title}}</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <hr>
        <p>2014 &copy; dom-edge By <a target="_blank" href="https://github.com/starzou">StarZou</a></p>
    </div>
</div>
